.App {
  text-align: center;

}


.TaskItem{
  color: black;
  margin-top: 1rem;
  display: flex;
  font-size: 0.6rem;
  margin-left: 0.9rem;
  margin-right: 0.5rem;
  font-weight: 1000;

}

.addTask{
  padding: 5rem;
  background-color:#2020f7;
}
.delete{
  width: 4rem;
  height: 2.5rem;
  margin-left: 2rem;
  margin-top: 0.7rem;
  text-decoration: none;
  background-color:#2020f7 ;
  border: none;
  border-radius: 0.5rem;
  color: white;
  font-weight: 800;

}
.delete:hover{
  background-color:#2020f7  ;
  opacity: 0.6;
}
input{
width: 50%;
padding: 1rem 1rem;
margin: 1rem 0.99rem;
display: inline-block;
border-radius: 0.3rem;
box-sizing: border-box;
border: none;
border-color: #ccc;
text-align: center;
}
.btnAddtask{
  padding: 0.9rem;
  border-radius: 0.5rem;
  margin-left: 0.8rem;
  border: none;
  font-weight: 650;
  background-color: white;
}
.btnAddtask:hover{
  background-color: #f1dcdc;
}
/* Styles for screens smaller than 600px */
@media (max-width: 600px) {
  /* Adjust font sizes for better readability on smaller screens */
  body {
    font-size: 16px;
  }

  /* Adjust spacing between elements for a more compact layout */
  .container {
    margin: 10px;
    padding: 5px;
  }

  /* Stack navigation links vertically for better mobile navigation */
  .nav-links {
    flex-direction: column;
  }
}
